<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pastikan file di storage (symlink ke storage/app/public) bisa diakses langsung
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
    RewriteRule ^ public%{REQUEST_URI} [L]

    # Selain itu lempar ke server.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ server.php [L]
</IfModule>
