@tailwind base;
@tailwind components;
@tailwind utilities;

/* Perbaiki list number & bullet agar terlihat */
.prose ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    color: #111827; /* teks angka */
}

.prose ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    color: #111827; /* bullet */
}

.prose li::marker {
    color: #111827 !important; /* pastikan marker (angka/bullet) berwarna */
}
